<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="service.impl.UserServiceImpl" id="userService" autowire="constructor"/>

    <bean class="dao.impl.UserDaoImpl" id="userDao">
        <property name="userStorage" ref="storage"/>
    </bean>

    <bean class="service.impl.EventServiceImpl" id="eventService" autowire="constructor"/>

    <bean class="dao.impl.EventDaoImpl" id="eventDao">
        <property name="eventStorage" ref="storage"/>
    </bean>

    <bean class="service.impl.TicketServiceImpl" id="ticketService" autowire="constructor"/>

    <bean class="dao.impl.TicketDaoImpl" id="ticketDao">
        <property name="ticketStorage" ref="storage"/>
    </bean>

    <bean class="storage.Storage" id="storage" init-method="initStorageFromJSON" destroy-method="clearStorage"/>
</beans>